body {
    justify-content: center;
    background-color: rgb(44, 172, 204);
    font: normal 15pt normal;
}

.campo {
    border-radius: 10px;
    color: black;
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

input[id="nome"], input[id="sobrenome"], input[id="idade"], input[id="email"], select {
    display: block;
}

input, select {
    margin-bottom: 7px;
}